@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes translate-in {
  from {
    opacity: 0;
    transform: translate(200%, 0);
  }
}

@keyframes translate-out {
  to {
    opacity: 0;
    transform: translate(200%, 0);
  }
}
