@import 'responsive';

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    margin: 0;
    height: 100%;
}

main {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 0;
    margin: 0;

    &::placeholder {
        color: #bdbdbd;
    }
}

:root {
    // Variant Colors
    --primary-color: #2f80ed;
    --primary-color-ring: rgba(47, 128, 237, 0.5);
    --secondary-color: #828282;
    --secondary-color-ring: rgba(130, 130, 130, 0.5);
    --danger-color: #eb5757;
    --danger-color-ring: rgba(235, 87, 87, 0.5);
    --success-color: #28b463;
    --success-color-ring: rgba(40, 180, 99, 0.5);
    --warning-color: #ffc107;
    --warning-color-ring: rgba(255, 193, 7, 0.5);
    --info-color: #dae4fd;
    --info-color-ring: #c6d5fc;
    --black-color: #333333;
    --black-color-ring: rgba(51, 51, 51, 0.5);
    --hollow-color: #f2f2f2;
    --hollow-color-ring: #d9d9d9;
    --body-color: #f8f9fd;
    --dropdown-text-color: #4F4F4F;

    --text-color: var(--black-color);

    // Other Colors
    --divider-color: #e0e0e0;
    --border-color: #bdbdbd;
    --disabled-color: #b5b5b5;
    --skeleton-shimmer-color: rgba(130, 130, 130, 0.1);

    // Font Sizes
    --font-size-base: 16px;
    --font-size-xs: 0.625rem; // 10px
    --font-size-sm: 0.75rem; // 12px
    --font-size-md: 0.875rem; // 14px
    --font-size-lg: 1rem; // 16px
    --font-size-xl: 1.125rem; // 18px

    // Font Weights
    --font-weight-bold: 700;
    --font-weight-semi: 600;
    --font-weight-regular: 400;
    --font-weight-light: 300;

    // Border Radiuses
    --border-radius-full: 50%;
    --border-radius-xs: 2px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 24px;
}
