@import './variables';
@import './layout';

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    margin: 0;
    height: 100%;
}

main {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 0;
    margin: 0;

    &::placeholder {
        color: #bdbdbd;
    }
}

:root {
    // Variant Colors
    --body-color: #f8f9fd;
    --primary-color: #{$primaryColor};
    --primary-color-outline: #{$primaryColorOutline};
    --secondary-color: #{$secondaryColor};
    --secondary-color-outline: #{$secondaryColorOutline};
    --danger-color: #{$dangerColor};
    --danger-color-outline: #{$dangerColorOutline};
    --success-color: #{$successColor};
    --success-color-outline: #{$successColorOutline};
    --warning-color: #{$warningColor};
    --warning-color-outline: #{$warningColorOutline};
    --info-color: #{$infoColor};
    --info-color-outline: #{$infoColorOutline};
    --black-color: #{$blackColor};
    --black-color-outline: #{$blackColorOutline};
    --hollow-color: #{$hollowColor};
    --hollow-color-outline: #{$hollowColorOutline};

    --text-color: #{$blackColor};

    // Other Colors
    --divider-color: #{$dividerColor};
    --border-color: #{$borderColor};
    --disabled-color: #{$disabledColor};
    --skeleton-shimmer-color: #{$skeletonShimmerColor};

    // Font Sizes
    --font-size-base: #{$baseFontSize};
    --font-size-xs: #{$smallerFontSize};
    --font-size-sm: #{$smallFontSize};
    --font-size-md: #{$textFontSize};
    --font-size-lg: #{$subtitleFontSize};
    --font-size-xl: #{$titleFontSize};

    // Font Weights
    --font-weight-bold: #{$fWBold};
    --font-weight-semi: #{$fWSemiBold};
    --font-weight-regular: #{$fWRegular};
    --font-weight-light: #{$fWLight};

    // Border Radiuses
    --border-radius-full: #{$bRdCircle};
    --border-radius-sm: #{$bRdSmall};
    --border-radius-md: #{$bRdMedium};
    --border-radius-lg: #{$bRdLarge};
    --border-radius-xl: #{$bRdXLarge};
}
