node_modules/
*.xml
.idea/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
*.iml
notes.md
# Local Netlify folder
.netlify
.DS_Store
*.http
.vercel
.git
.github
.vercel
docker-compose.yml
packages/domain/src/
packages/domain/tests/
packages/express/src/
packages/adapters/src/
packages/frontend/src/
packages/frontend/cypress/