
.details_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        &__left {
            display: flex;
            align-items: center;
            gap: 1rem;

            &__toggle_btn {
                position: relative;
            }

            &__participant_list {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    &__columns {
        background-color: var(--body-color);
        padding: 2rem;
        border-radius: var(--border-radius-xl);
        //height: 100%;
        // overflow-y: scroll;
        flex-grow: 1;
        overflow-x: scroll;
    }
}
