.details_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 6rem;

    .header_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        grid-gap: 1rem;
        flex-wrap: wrap;

        &__left {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;

            &__toggle_btn {
                position: relative;
            }

            &__invite_btn {
                position: relative;
            }

            &__participant_list {
                display: flex;
                align-items: center;
                gap: 1rem;
                flex-wrap: wrap;
            }
        }
    }

    .column_section {
        background-color: var(--body-color);
        padding: 2rem 2rem 0 2rem;
        border-top-left-radius: var(--border-radius-xl);
        border-top-right-radius: var(--border-radius-xl);
        max-height: 80vh;
        flex-grow: 1;
        overflow-x: scroll;
        width: 100%;
        display: flex;
        align-self: flex-end;

        &__list {
            flex-grow: 1;
            min-width: 300px;
            max-width: 300px;
            padding: 0.25rem .5rem;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__add_form {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                flex-wrap: wrap;

                &__input {
                    min-width: 100%;
                }

                &__buttons {
                    display: flex;
                    justify-content: flex-start;
                    gap: 0.5rem;
                }

                &__cancel_btn {
                    color: var(--secondary-color);
                }
            }
        }
    }
}

.add_button {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__icon {
        height: 1.5rem;
    }
}

.avatar_wrapper {
    position: relative;

    &__button {
        padding: 0;
    }

    &__dropdown {
        top: calc(100% + 0.5rem);
        display: flex;
        width: 200px;

        &__button {
            width: 100%;
            flex-grow: 1;
        }
    }
}
