@import '../../base/layout.scss';

.header_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
        font-size: var(--font-size-xl);
        font-family: 'Poppins', sans-serif;
    }
}

.card_section {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));

    @include phone {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    @include pc {
        grid-template-columns: repeat(3, 1fr);
    }

    @include laptop {
        grid-template-columns: repeat(4, 1fr);
    }

    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    &__empty {
        margin-top: 2rem;
        padding: 5rem;
        border: 1px dashed var(--border-color);
        border-radius: var(--border-radius-md);
        grid-column: 1 / span 4;
        text-align: center;
        font-size: var(--font-size-xl);
        color: var(--secondary-color);
    }
}
