.details_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 6rem;

    .header_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        grid-gap: 1rem;
        flex-wrap: wrap;

        &__left {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;

            &__toggle_btn {
                position: relative;
            }

            &__invite_btn {
                position: relative;
            }

            &__participant_list {
                display: flex;
                align-items: center;
                gap: 1rem;
                flex-wrap: wrap;
            }
        }
    }
}

.add_button {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__icon {
        height: 1.5rem;
    }
}

.avatar_wrapper {
    position: relative;

    &__button {
        padding: 0;
    }

    &__dropdown {
        top: calc(100% + 0.5rem);
        display: flex;
        width: 200px;

        &__button {
            width: 100%;
            flex-grow: 1;
        }
    }
}
