.alert {
  padding: 1rem 1rem;
  padding-right: 2.6rem;
  border: 1px solid transparent;
  display: flex;
  border-radius: 8px;
  gap: 0.25rem;
  align-items: flex-start;
  position: relative;

  .alert__icon {
    height: 1.5rem;
    justify-self: flex-end;
  }

  .alert__body {
    margin: 0;
  }

  .alert__close_btn {
    position: absolute;
    right: 0;
    top: .5rem;
    display: flex;
    max-width: min-content;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    padding: .5rem;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
  }
}

/* Alert Types */
.alert--danger {
  background-color: #eb5757;
  color: #fff;

  .alert__icon {
    color: #fff;
  }
}
