/* Button Block */
.btn {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-md);
    padding: 0.5rem 1rem;
    text-decoration: none;
    gap: 0.5rem;
    cursor: pointer;
    justify-content: center;
    flex-shrink: 0;
    font-size: var(--font-size-md);

    --bg-color: transparent;
    --fg-color: var(--text-color);
    --outline-color: var(--hollow-color-ring);
    --hover-bg-color: var(--hollow-color);
    --hover-fg-color: var(--text-color);

    color: var(--fg-color);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);

    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 0 0.25rem var(--outline-color);
    }

    &:active {
        background-color: var(--hover-bg-color);
        color: var(--hover-fg-color);
    }

    &:hover:not(.btn--static) {
        background-color: var(--hover-bg-color);
        color: var(--hover-fg-color);
        border: 1px solid var(--bg-color);
    }

    /* Button Elements */
    &__leading_icon {
        height: 1.5rem;
    }

    &__trailing_icon {
        height: 1.5rem;
    }
}

/* Button Variants */
.btn--primary {
    --bg-color: var(--primary-color);
    --fg-color: #fff;
    --outline-color: var(--primary-color-ring);
    --hover-fg-color: var(--primary-color);
    --hover-bg-color: transparent;
}

.btn--outline {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;

    &:focus,
    &:active {
        box-shadow: 0 0 0 0.25rem var(--secondary-color-ring);
    }

    &:hover:not(.btn--static) {
        background-color: var(--secondary-color);
        color: #fff;
    }
}

.btn--hollow {
    --bg-color: var(--hollow-color);
    --fg-color: #828282;
    --outline-color: var(--hollow-color-ring);

    &:hover:not(.btn--static) {
        color: var(--fg-color);
        border: 1px solid var(--secondary-color);
    }
}

.btn--danger {
    --bg-color: var(--danger-color);
    --fg-color: #fff;
    --hover-bg-color: transparent;
    --outline-color: var(--danger-color-ring);
    --hover-fg-color: var(--danger-color);
}

.btn--black {
    --hover-bg-color: transparent;
    --bg-color: var(--black-color);
    --fg-color: #fff;
    --outline-color: var(--black-color-ring);
}

.btn--block {
    width: 100%;
}

.btn--square {
    padding: 0.5rem;
}

/* Button Sizes */
.btn--small {
    padding: 0.5rem 1rem;
}

.btn--medium {
    padding: 1rem 2rem;
}

.btn--large {
    padding: 1.5rem 3rem;
}

/* Button States */
.btn--disabled {
    --fg-color: #fff;
    --bg-color: var(--disabled-color);
    --outline-color: var(--disabled-color);
    --hover-fg-color: #fff;
    --hover-bg-color: var(--disabled-color);
    border: 1px solid var(--disabled-color);
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 0 0.25rem transparent;
    }
}
