/* Button Block */
.btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  gap: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;

  /* Button Elements */
  .btn__icon {
    height: 1.5rem;
  }
}

/* Button Variants */
.btn--primary {
  border: 1px solid #2f80ed;
  background-color: #2f80ed;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: #2f80ed;
    border: 1px solid #2f80ed;
  }
}

.btn--outline {
  border: 1px solid #828282;
  color: #828282;
  background-color: transparent;

  &:hover {
    background-color: #828282;
    color: #fff;
  }
}

.btn--hollow {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #828282;

  &:hover {
    background-color: darken(#f2f2f2, 10%);
    border: 1px solid darken(#f2f2f2, 10%);
  }
}

.btn--danger {
  border: 1px solid #EB5757;
  background-color: #EB5757;
  color: #fff;

  &:hover {
    background-color: transparent;
    border: 1px solid #EB5757;
    color: #EB5757;
  }
}

.btn--black {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;

  &:hover {
    color: #000;
    background-color: transparent;
  }
}

.btn--block {
  width: 100%;
}

/* Button Sizes */
.btn--small {
  padding: 0.5rem 1rem;
}

.btn--medium {
  padding: 1rem 2rem;
}

.btn--large {
  padding: 1.5rem 3rem;
}

/* Button States */
.btn--disabled {
  background-color: lighten(#828282, 20%);
  border: 1px solid lighten(#828282, 20%);
  color: #fff;
  cursor: not-allowed;

  &:hover {
    background-color: lighten(#828282, 20%);
    border: 1px solid lighten(#828282, 20%);
    color: #fff;
  }
}
