@import '../base/variables';

/* Button Block */
.btn {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    gap: 0.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;

    /* Button Elements */
    &__icon {
        height: 1.5rem;
    }
}

/* Button Variants */
.btn--primary {
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $primaryColor;
        border: 1px solid $primaryColor;
    }
}

.btn--outline {
    border: 1px solid $secondaryColor;
    color: $secondaryColor;
    background-color: transparent;

    &:hover {
        background-color: $secondaryColor;
        color: #fff;
    }
}

.btn--hollow {
    border: 1px solid $hollowColor;
    background-color: $hollowColor;
    color: #828282;

    &:hover {
        background-color: darken($hollowColor, 10%);
        border: 1px solid darken($hollowColor, 10%);
    }
}

.btn--danger {
    border: 1px solid $dangerColor;
    background-color: $dangerColor;
    color: #fff;

    &:hover {
        background-color: transparent;
        border: 1px solid $dangerColor;
        color: $dangerColor;
    }
}

.btn--black {
    background-color: $blackColor;
    color: #fff;
    border: 1px solid $blackColor;

    &:hover {
        color: $blackColor;
        background-color: transparent;
    }
}

.btn--block {
    width: 100%;
}

/* Button Sizes */
.btn--small {
    padding: 0.5rem 1rem;
}

.btn--medium {
    padding: 1rem 2rem;
}

.btn--large {
    padding: 1.5rem 3rem;
}

/* Button States */
.btn--disabled {
    background-color: $disabledColor;
    border: 1px solid $disabledColor;
    color: #fff;
    cursor: not-allowed;

    &:hover {
        background-color:  $disabledColor;
        border: 1px solid  $disabledColor;
        color: #fff;
    }
}
