.card {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius-lg);
    padding: 1rem;
    width: 100%;
    transition: all 0.1s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    border: 1px solid transparent;
    cursor: grab;

    &:hover {
        border: 1px solid var(--primary-color-hollow);
    }

    &:focus {
        outline: none;
    }

    &:focus:not(&--dragging) {
        outline: none;
        border: 1px solid var(--primary-color);
        box-shadow: 0 0 0 0.25rem var(--primary-color-hollow);
    }

    &--dragging {
        box-shadow: none;
        border-radius: var(--border-radius-lg);
        background-color: var(--primary-color-hollow);
        border: 1px dashed var(--primary-color);

        & * {
            visibility: hidden !important;
        }
    }

    &--overlay {
        outline: none;
        cursor: grabbing;
        transform: rotate(2.81deg);
        border: 1px solid var(--primary-color) !important;
        box-shadow: 0 0 0 0.25rem var(--primary-color-hollow);
    }

    &__button {
        padding: 0.4rem;

        &__icon {
            height: 1.1rem;
        }
    }
    &__title {
        max-width: 100%;
        overflow-wrap: break-word;
    }
}
