.header {
    display: flex;
    padding: 1rem;
    margin: 0;
    width: 100%;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
        gap: 1rem;

        &__logo {
            display: flex;
            align-items: center;
        }

        &__title {
            margin-left: 5rem;
            font-size: 1rem;
            font-weight: var(--font-weight-semi);
        }

        &__divider {
            width: 1px;
            height: 2.5rem;
            background: var(--border-color);
        }
    }

    &__right {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__avatar {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        &__image {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: var(--border-radius-md);
            background-color: var(--border-color);
        }

        &__name {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-bold);
        }

        &__icon {
            height: 1.5rem;
            width: 1.5rem;
        }

        &__dropdown {
            display: none;
        }

        &:hover {
            .header__avatar__dropdown {
                display: block;
            }
        }
    }
}
