.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow-y: hidden;

    &__header {
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-size-md);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    &__cards {
        flex-direction: column;
        flex-grow: 1;
        min-height: 100%;
        overflow-y: scroll;
        max-height: 100%;
        padding: 0.5rem;
        padding-bottom: 10rem;
        position: relative;

        & > * {
            width: 100%;
            display: flex;
            margin-bottom: 1rem;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        &__placeholder {
            border-radius: var(--border-radius-lg);
            background-color: var(--primary-color-hollow);
            border: 1px dashed var(--primary-color);
            position: absolute;
        }
    }
}

.add_button {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__icon {
        height: 1.5rem;
    }
}
