.pulseWrapper {
    width: 100%;
    height: 100%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
