@keyframes wave {
    0% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.skeleton {
    background-color: var(--hollow-color);
    border-radius: var(--border-radius-md);
    display: block;
    position: relative;
    overflow-x: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: linear-gradient(
            to right,
            transparent,
            var(--skeleton-shimmer-color),
            transparent
        );

        animation: wave 1.6s linear 0.5s infinite;
    }
}
