.toast {
    padding: 1rem 1rem;
    padding-right: 2.6rem;
    border: 1px solid transparent;
    border-radius: 8px;
    gap: 0.25rem;
    display: flex;
    align-items: center;
    position: relative;
    animation: translate-in 0.3s 0.1s both;

    @keyframes translate-in {
        from {
            opacity: 0;
            transform: translate(200%, 0);
        }
    }

    @keyframes translate-out {
        to {
            opacity: 0;
            transform: translate(200%, 0);
        }
    }

    &--removed {
        animation: translate-out 0.3s 0.1s both;
    }

    &__icon_right {
        height: 1.3rem;
        justify-self: flex-end;
    }

    &__icon_left {
        min-width: 40px;
        max-width: 40px;
    }

    &__body {
        margin: 0;
    }

    &__close_btn {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        max-width: min-content;
        align-items: center;
        border-radius: 8px;
        text-decoration: none;
        padding: 0.5rem;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;
    }
}

/* toast Types */
.toast--error {
    background-color: var(--danger-color);
    color: #fff;

    .toast__icon_right {
        color: #fff;
    }
}

.toast--success {
    background-color: var(--success-color);
    color: #fff;

    .toast__icon_right {
        color: #fff;
    }
}

.toast--info {
    background-color: var(--primary-color);
    color: #fff;

    .toast__icon_right {
        color: #fff;
    }
}
.toast--warning {
    background-color: var(--warning-color);
    color: #fff;

    .toast__icon_right {
        color: #fff;
    }
}

.toast_area {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}
